:root {
    --color-background: #f9f9f9;
    --color-border: #cacfd5;
    --color-header: #1b1c1e;
    --color-button: #1b1c1e;
    --color-button-hover: #781818;
    --button-hover-text: #f9f9f9;
    --color-text-default: #1b1c1e;
    --color-text-header: #f9f9f9;
    --color-base: #f4f5f6;

    font-family: 'Mulish', sans-serif;
}

/* DARK MODE */

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #1b1c1e;
        --color-border: #141414;
        --color-header: #1b1c1e;
        --color-button: #f9f9f9;
        --color-button-hover: #781818;
        --button-hover-text: #f9f9f9;
        --color-text-default: #1b1c1e;
        --color-text-header: #f9f9f9;
        --color-base: #f4f5f6;
    
        font-family: 'Mulish', sans-serif;
    }    
}

/* Simpele CSS Remedy */
/* naar een idee van Jen Simmons */
/* https://github.com/jensimmons/cssremedy */
*, *::after, *::before {
    box-sizing:border-box;  
}

button:not(disabled) {
    cursor:pointer;
}  
    
/********************/
/* ALGEMENE STIJLEN */
/********************/
  body {
    margin:0;
    background-color:var(--general-background);
    color:var(--general-color);
}
  
/******************************************************/
/* styling voor de small-screen versie van de website */
/******************************************************/
  
/*************/
/* DE HEADER */
/*************/
header {
    min-height:4em;
    padding:0 1em;
    background-color:var(--color-header);
    line-height:1;
    
    /* JOUW CODE HIER - stap 3 */
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    position:sticky;
    top:0;
    z-index: 2;
}


/* alle links in de header */
header a {
    padding:.5em 0;
    color:var(--color-text-header);
    
    text-decoration:none;
    text-transform: uppercase;
}
  
/********/
/* LOGO */
/********/
header > a:first-of-type {
    /* om het boek en de titel te positioneren */
    display:grid;
    grid-template-columns:min-content min-content;
    grid-gap:.25em;
    align-items:center;
    
    font-weight:bold; 
}
  
header > a:first-of-type img {
    height: 2.5em;
    padding-left: 5em;
}
  
/*SHOPPING CART ICON*/  

header > a:last-of-type img {
    width: auto;
    height: 1.5em;
    padding-right: 2em;
}
  
/*****************/
/* BEIDE BUTTONS */
/*****************/
header button {
    padding:.5em;
    
    /* icon en tekst met gap-je naast elkaar */
    display:flex;
    align-items:center;
    gap:.25em;
    
    /* standaard styling aanpassen */
    appearance:none;
    background-color:var(--button-background);
    border:none;
    border-radius:.25em; 
    font:inherit;
    text-align:center;
    color:var(--button-color);
}
  
  header button img {
    height:1em;
  }
  
  
  /***************/
  /* MENU BUTTON */
  /***************/
  header > button {
    /* JOUW CODE HIER - stap 3 */
    order:-1;
  }
  

  /***************/
  /* SLUIT BUTTON */
  /***************/
  nav button {
   justify-self:start;
  }
  
  /************/
  /* HET MENU */
  /************/
  nav {
    padding:1em;
    
    display:grid;
    align-content:start;
    gap:1em;
    
    background-image:var(--menu-gradient);
    
    /* JOUW CODE HIER - stap 1 */
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    
    /* JOUW CODE HIER - stap 2 */
    transform:translatex(-100%);
    
    /* JOUW CODE HIER - stap 4 */
    transition:transform .3s;
  }
  
  /* als menu open is */
  nav.toonMenu {
    /* JOUW CODE HIER - stap 4 */
    transform:translatex(0);
  }
  
  /*******************/
  /* LIJST MET LINKS */
  /*******************/
  nav ul { 
    margin:0; 
    padding:0em;
    list-style:none;
  }
  
  
  
  /************************/
  /* EEN LINK IN DE LIJST */
  /************************/
  nav a {
    /* icon en tekst met gap-je naast elkaar */
    display:flex;
    align-items:center;
    column-gap:.25em;
    
    border-bottom:solid 1px var(--menu-border);
  }
  
  nav a img {
    width:auto;
    height:2em;
  }
  
  nav a.active {
    font-weight:bold;
  }
  
  
  
  /****************************************************************/
  /* styling voor de header als de browser minimaal 38em breed is */
  /****************************************************************/
  @media (min-width:38em) {
    header > button {
      /* JOUW CODE HIER - stap 6 */
      display:none;
    }
    
    nav {
      /* JOUW CODE HIER - stap 7 */
      position:static;
      transform:none;
      padding:0;
      
      background:none;
    }
    
    nav button {
      /* JOUW CODE HIER - stap 6 */
      display:none;
    }
    
    nav ul {
      /* JOUW CODE HIER - stap 8 */
      display:flex;
      gap:2em;
    }
    
    nav a {
      /* JOUW CODE HIER - stap 9 */
      flex-direction:column;
      
      border:none;
    }
    
    header > a:last-of-type {
      /* JOUW CODE HIER - stap 9 */
      flex-direction:column;
    }
  }
  
  
  /****************************************************************/
  /* styling voor de header als de browser minimaal 57em breed is */
  /****************************************************************/
  @media (min-width:57em) {
    header > a:last-of-type,
    nav a {
      /* JOUW CODE HIER - stap 10 */
      flex-direction:row;
    }
  }
  
  
  /***********/
  /* CONTENT */
  /***********/
  
  main h1,
  main p {
    max-width:40rem;
    margin:0 auto;
    line-height:1.75;
  }
  
  main h1 {
    padding:5vw 2.5vw 0;
    
    background-image:var(--title-gradient);
    -webkit-background-clip:text;
    background-clip:text;
  }
  
  main p {
    padding:0 2.5vw 2.5vw;
}

/* ********************************** */
/* ********************************** */
/* ********************************** */

/* UL SETTINGS
voor elke unordered list */

ul {
    margin:0;
    padding:0;
    list-style:none;

    display: grid;
    gap: 1em;
}

li {
    display: flex;
    flex-direction: column;
}

/* ********************************** */
/* ********************************** */
/* ********************************** */

/* H'TJES, P'TJES EN ANDERE TEKST CSS */

h1 {
    color: #1b1c1e;
    font-size: 1.5em;
    line-height: 3rem;

    display: grid;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    margin-left: 0.5em;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9375rem;
    
    cursor:pointer;
}

p {
    color: #1b1c1e;
    margin: 0;

    cursor:pointer;
}

/* ********************************** */
/* ********************************** */
/* ********************************** */

/* CAROUSEL / IMAGE PICKER */

main > ul:nth-of-type(1) {
	display:flex;
	overflow:hidden;
	
	margin:0;
	padding:0;
	list-style:none;
}

main > ul:nth-of-type(1)  li {
	width:100%;
	flex-shrink:0;
}

main > ul:nth-of-type(1)  li img {
	width:100%;
}

main > ul:nth-of-type(2) {
	display:flex;
	gap:4px;
	
	margin:0;
	padding:0;
  padding-top: 4px;
	list-style:none;
}

main > ul:nth-of-type(1)  li {
	flex-grow:1;
}

main > ul:nth-of-type(2) img {
	width:100%;
} 

/* SECTION 1 */
main > section:nth-of-type(1) button {
  gap: 1em;
  margin-left: 1em;
  width: 4em;
  height: 4em;

  color: #F9F9F9;
  background-color: #141414;
  border-color: #141414;
  border-style: solid;
  border-radius: 6px;
  list-style: none;
}

main > section:nth-of-type(1) button:hover {
  background-color: #c51515;
  border-color: #c51515;
  
  cursor: pointer;
  box-shadow: 0 8px #888;
}

main > section:nth-of-type(1) button:active {
  background-color: #781818;
  border-color: #781818;
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

main > section > ul {
  display: flex;
  flex-wrap: wrap;
}

/* ********************************** */
/* ********************************** */
/* ********************************** */

/* SECTION 2 */
main > section:nth-of-type(2) button {
  gap: 1em;
  margin-left: 1em;
  margin-bottom: 2em;
  width: 25em;
  height: 4em;

  color: #F9F9F9;
  background-color: #141414;
  border-color: #141414;
  border-style: solid;
  border-radius: 6px;
  list-style: none;
}

main > section:nth-of-type(2) button:hover {
  background-color: #c51515;
  border-color: #c51515;
  
  cursor: pointer;
  box-shadow: 0 8px #888;
}

main > section:nth-of-type(1) button:active {
  background-color: #781818;
  border-color: #781818;
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

main > section:nth-of-type(2) p:nth-of-type(1) {
  margin-top: 2em;
  text-decoration: underline;
}
/* STICKY */
/*
main > section {
	display:grid;
	grid-template-columns:1fr 1fr;
	gap: 1em;
}

section section:nth-of-type(1) img {
	position:sticky;
	top:0;
}

section section:nth-of-type(1) img {
	width:100%;
}*/

/* ********************************** */
/* ********************************** */
/* ********************************** */

/* FOOTER */

footer {
    padding-bottom: 1em;
}

footer>p:last-of-type {
    font-size: 14px;
}

footer ul {
    list-style: none;
    align-items: center;
    padding: 2em;
}

footer ul a {
    text-decoration: none;
    text-align: center;
    color: #1b1c1e;
}

footer ul a:hover {
    text-decoration: underline;
}

footer ul:nth-of-type(1) img {
    width: auto;
    max-width: 50px;

    padding-right: 1rem;
}

footer ul:nth-of-type(1) img {
    max-width: 500px;
}

footer>ul:nth-of-type(1) {
    display: flex;
    justify-content: center;

    gap: 2em;
}

footer ul:nth-of-type(5) img {
    max-width: 50px;
}

footer>ul:nth-of-type(5) {
    display: flex;
    justify-content: center;

    gap: 2em;
}

footer > section {
    background-color: #F9F9F9;
    padding: 1em 1em 1em;
    text-align: center;
    margin-top: 2em;
}

footer>section>img {
    max-width: 100px;
}

footer ul:nth-of-type(2) li:nth-of-type(1) {
    border-style:solid;
	border-color:#cacfd5;
	border-width:2px 0 0;
}

footer ul:nth-of-type(2) li:nth-of-type(2) {
    border-style:solid;
	border-color:#cacfd5;
	border-width:2px 0 0;
}

footer ul:nth-of-type(2) li:nth-of-type(3) {
    border-style:solid;
	border-color:#cacfd5;
	border-width:2px 0 2px;

    padding-bottom: 1em;
}

footer p {
    text-align: center;
}
