body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: white;
    font-size: 2em;
    display: grid;
    place-content: center;
}

main ul {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(min(20em, 100%), 1fr) );
    gap: 2em;

    margin: 0;
    padding: 0 2em 2em;
    list-style: none;
}

main li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5em 1.5em 0;

}

main h2 {
    color: white;
    min-height: 3.125rem;


    font-size: 1rem;
    line-height: 1.125em;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
}

main p {
    color: white;
    text-align: center;
    margin: 0;
}

section {
    background-color: gray;
    padding: 1em 1em 1em;
    text-align: center;
}

section h1 {
    text-transform: uppercase;
}

section p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    margin-bottom: 2rem;
}

footer li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 2.5rem;
    max-width: 2.5rem;
}

footer img {
 

}
